body {
	font-family: arial;
	margin: 5%;
}


.headline {
	padding: 10px;
}

h1 {
display: table;
margin: 0 auto;
font-family: "Host Grotesk", sans-serif;
font-weight: 800;
font-size: 40px;
}

h2

.main-container {
	display: flex;
	justify-content: center;
	white-space: nowrap;

}